{% assign ear_tag = product.metafields.custom.ear_tags.value %}
{% assign initial_image = product.featured_media.preview_image.src %}
 {% capture product_compare_image %}
        {% if initial_image %}
          {%
            render 'rimg',
            img: initial_image
            size: '250x',
            lazy: true,
            class: 'productitem--image-primary',
            canvas: true,
            disable_noscript: true,
          %}
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder--image' }}
        {% endif %}
      {% endcapture %}
<div class="inaithiram-gallery">
  <div class="ig-sidebar">
    <ul>
      {% for media in product.media %}
        <li class="product_media">
          {% if media.media_type == 'video' or media.media_type == 'external_video' %}
            {% render 'icon-library', id: 'icon-play-thumb' %}
          {% elsif media.media_type == 'model' %}
            {% render 'icon-library', id: 'icon-model-thumb' %}
          {% endif %}
          {{ media | image_url: width: 200 | image_tag: width: 50 }}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="product-view">
    <div class="gallery-icons wishlist-container">
      <div class="uwl-btn inaithiram-wishlist"></div>
      {% if ear_tag %}
        <div class="express-dispatch">
          {{ ear_tag | image_url: width: master | image_tag: width: '100' }}
        </div>
      {% endif %}
    </div>
    <div class="product-actual">
      <ul class="detail_media_list">
        {% for media in product.media %}
          <li class="detailed_media">
            {% if media.media_type == 'video' or media.media_type == 'external_video' %}
              {% render 'icon-library', id: 'icon-play-thumb' %}
            {% elsif media.media_type == 'model' %}
              {% render 'icon-library', id: 'icon-model-thumb' %}
            {% endif %}
            {{ media | image_url: width: master | image_tag: width: '100%' }}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="bottomarea-icons">
      <div class="gallery-icons">
        <div class="social-container">
          {% render 'social-share' %}
        </div>
        <div class="inaithiram-compare" data-compare-handle="{{ product.handle }}">
          {% render 'icon-compare' %}
          <span class="compare-checked" data-compare-available="false">{% render 'icon-checkround' %}</span>
          <script type="application/json" data-product-compare-data>
            {
            "title": {{ product.title | json }},
            "handle": {{ product.handle | json }},
            "image": {{ product_compare_image | json }},
            "imageAspectRatio": {{ initial_image.aspect_ratio | default: '1/1' | json }},
            "url": {{ product.url | json }}
            }
          </script>
        </div>
      </div>
      <div class="inaithiram-zoom-control">
        <div class="make-expand">
          <p class="m-0">
            <span class="gallery-zoom-icon">{% render 'icon-search' %}</span>
            <span>Click to Expand</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>