{% if section.settings.show_product_recommendations %}
  {% assign product_limit = 5 %}

  <script
    type="application/json"
    data-section-type="static-product-recommendations"
    data-section-id="{{ section.id }}"
    data-section-data
    >
{
  "settings": {
    "limit": {{ product_limit }}
  },
    "productId": {{ cart.items[0].product_id | json }},
    "sectionId": {{ section.id | json }}
}
  </script>
  {% unless cart.item_count < 1  %}
  <section
    class="product-section--container product-row--container product-recommendations--container custom-section-margin"
    data-html
    data-product-recommendations
    >
    {% if recommendations.products_count > 0 %}
      <h2 class="product-section--title product-recommendations--title">
        {{ section.settings.product_recommendations_heading }}
      </h2>

    <ul
      class="product-section--content product-row mb-5"
      data-product-row
      >
      {% for product in recommendations.products limit: product_limit %}
        {%
          render 'cart-grid-recomendations',
          product: product
        %}
      {% endfor %}
    </ul>
    {% endif %}
  </section>
    {% endunless %}
 
  {% render 'quick-shop' %}
{% endif %}

{% schema %}
{
  "name": "t:sections.product_recommendations.name",
  "class": "product-recommendations--section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_product_recommendations",
      "label": "t:sections.product_recommendations.show_product_recommendations.label",
      "info": "t:sections.product_recommendations.show_product_recommendations.info",
      "default": true
    },
    {
      "type": "text",
      "id": "product_recommendations_heading",
      "label": "t:sections.product_recommendations.product_recommendations_heading.label",
      "default": "You may also like"
    }
  ]
}
{% endschema %}
