<div class="hamburger_menu" id="hamburger-sidebar">
  <div class="hamburger-container">
    <header class="hamburger-header d-flex align-items-center">
      <div class="user-icon">{% render 'icon-user' %}</div>
      <p class="m-0">
        Hello,
        {% if customer %}
          <a href="{{ routes.account_url }}">{{ customer.first_name }}</a>
        {% else %}
          <a href="{{ routes.account_login_url }}">Sign in</a>
        {% endif %}
      </p>
      <div class="close-icon" id="sidebar-close">
        {% render 'icon-close' %}
      </div>
    </header>
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'sidebar_menu' %}
          <div class="custom-menu">
            <div class="menu-title d-flex justify-content-between">
              <h4 class="m-0">{{ block.settings.custom_sidebar.title }}</h4>
              <span class="menu-arrow">
                <i class="bi bi-chevron-down"></i>
              </span>
            </div>
            <ul class="list-unstyled m-0 p-0 custom-menu-list">
              {% for link in block.settings.custom_sidebar.links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
      {% endcase %}
    {% endfor %}
    <div class="custom-menu">
      <h4>Settings & Help</h4>
      <ul class="list-unstyled m-0 p-0">
        <li><a href="{{ routes.account_url }}">My Account</a></li>
        {% for link in section.settings.final_sidebar.links %}
          <li>
            <a href="{{ link.url }}" {% if link.type == "http_link" %}target="_blank"{% endif %}>{{ link.title }}</a>
          </li>
        {% endfor %}
        <li>
          {% if customer -%}
            <a href="{{ routes.account_logout_url }}">Sign out</a>
          {% else -%}
            <a href="{{ routes.account_login_url }}">Sign in</a>
          {%- endif %}
        </li>
      </ul>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Hamburger Menu",
  "class": "inaithiram_sidebar",
  "settings": [
    {
      "type": "link_list",
      "id": "final_sidebar",
      "label": "Final Links"
    }
  ],
  "blocks": [
    {
      "name": "Sidebar Menu",
      "type": "sidebar_menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_sidebar",
          "label": "Custom Menu"
        }
      ]
    }
  ]
}
{% endschema %}

{% javascript %}
  const sidebar = document.querySelector('.inaithiram_sidebar');
  const close = document.getElementById("sidebar-close");
  const hamburger = document.querySelector(".site-header-menu-toggle");
  const headnav= document.getElementById("site-header-nav");
  const menu_arrow = document.querySelectorAll('.custom-menu .menu-title');
  const menu_list = document.querySelectorAll('.custom-menu-list');

  menu_arrow.forEach((item, index) => {
    item.addEventListener('click', ()=> {
      menu_list[index].classList.toggle('open-list');
    });
  });

  hamburger.addEventListener("click", ()=> {
    if(!sidebar.classList.contains('show-burger')){
      sidebar.classList.add('show-burger');
    }
    if(hamburger.classList.contains('active')){
      hamburger.classList.remove('active');
    }
  });

  close.addEventListener("click", ()=> {
    if(sidebar.classList.contains('show-burger')){
    sidebar.classList.remove('show-burger');
    }
    if(hamburger.classList.contains('active')){
      hamburger.classList.remove('active');
    }
  });
{% endjavascript %}